<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MediaCollector.Controllers.Properties.Settings.MediaConnectionString"
            connectionString="Data Source=CLDBHPJRH\SQL2008R2;Initial Catalog=Media;User ID=media;Password=media"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>